
menu "Can5 Config"

    config CAN5_CONFIG_BUILD_TESTS
        bool "Build CONFIG Tests"
        help
            Select this to build tests for config component.
            
            IMPORTANT: for this to have effect, CONFIG_LOG_DEFAULT_LEVEL must be  > 0.
            
endmenu

