.nav {
    min-height: 3em;
    width: 100%;
    /* background-color: #49526D; */
    border: #666 1px solid;
    box-shadow: 0 2px 0px 0px rgb(34 36 38 / 12%),
    -1px -1px 6px 2px rgb(34 36 38 / 15%);
    background-image: linear-gradient(
            to top,
            #48516c,
            #4e536c,
            #54566b,
            #59586b,
            #5d5b6b,
            #5d5b6b,
            #5d5b6b,
            #5d5b6b,
            #59586b,
            #54566b,
            #4e536c,
            #48516c
    );
    position: relative;
}

.nav > .nav-header {
    display: inline;
    padding-left: 10%;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-header > .nav-title > .logo {
    max-width: 0.9em;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-right: 10%;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-active {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav > #nav-check {
    display: none;
}

    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }

body {
    background-color: #eee;
    max-width: calc(100% - 2px); /* hack here */
}

.wrapper {
    margin: 0em 10% 0em 10%;
}

.wrapper > h1 {
    color: #555;
    border-bottom: #ddd 2px solid;
}

.content {
    background-color: white;
    border-radius: 0.5em;
    padding: 1em 5% 1em 5%;
    font-size: 0.9em !important;
    border: #aaa 1px solid;
    box-shadow: 0 2px 0px 0px rgb(34 36 38 / 12%),
    -1px -1px 6px 2px rgb(34 36 38 / 15%);
}

.content .header {
    font-weight: bold;
    font-style: italic;
    color: #666;
    padding: 0.5em 0em 0.5em 0em;
}

.content .value {
    color: #333;
    padding: 0.5em 0em 0.5em 0em;
}

.content .status-ok {
    margin: 0.4em 0em 0.2em 0em;
    width: fit-content;
    font-family: monospace;
    border-radius: 0.5em;
    padding: 0.2em 0.5em 0.1em 0.5em;
    border: #ddd 1px solid;
    background-color: rgb(255, 253, 130);
}

.content .status-error {
    width: fit-content;
    border-radius: 0.5em;
    font-family: monospace;
    margin: 0.4em 0em 0.2em 0em;
    padding: 0.2em 0.5em 0.1em 0.5em;
    border: #ddd 1px solid;
    background-color: rgb(255, 212, 212);
}

.content .local-time {
    margin: 0.4em 0em 0.2em 0em;
    width: fit-content;
    font-family: monospace;
    border-radius: 0.5em;
    padding: 0.2em 0.5em 0.1em 0.5em;
    border: rgb(49, 43, 43) 1px solid;
    background-color: rgb(235, 235, 232);
}

.content .small-local-time {
    margin: 0.4em 0em 0.2em 0em;
    width: fit-content;
    font-family: monospace;
    font-size: 0.85em;
    border-radius: 0.5em;
    padding: 0.2em 0.5em 0.1em 0.5em;
    border: rgb(49, 43, 43) 1px solid;
    background-color: rgb(235, 235, 232);
}

.content .status-line-border {
    border: #ddd 1px solid;
    margin-bottom: 1em;
    margin-top: 1em;
}

.progressbar {
    background-color: #eee;
    border-radius: 0.5em;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    border: #777 2px solid;
}

.progressbar > div {
    background-color: orange;
    /* Adjust with JavaScript */
    height: 100%;
    text-align: center;
    border-radius: 0.5em;
    color: black;
}

progressbar > div > span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}

.pure-button {
    margin: 0 1em 0 1em;
}

.button-warning {
    background: rgb(223, 117, 20);
    color: white;
}

.footer {
    padding: 1em 5% 1em 5%;
}

.footer > .status-line-border {
    border: #ddd 1px solid;
    margin-bottom: 1em;
    margin-top: 1em;
}

.footer > .items {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer > .items > a > img {
    max-width: 10em;
}

h1 > img {
    max-width: 1em;
    margin-right: 0.5em;
}

.terminal {
    background-color: #333;
    color: #fff;
    font-family: monospace;
    padding: 1em;
    border: #aaa 1px solid;
    box-shadow: 0 2px 0 0 rgb(34 36 38 / 12%),
    -1px -1px 6px 2px rgb(34 36 38 / 15%);
    border-radius: 0.5em;
}

.terminal > li {
    list-style: none;
}

.loader {
    color: #4b0b0b;
    font-size: 60px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.io-board {
    margin: 1em 0.5em 1em 0.5em;
    padding: 0.5em;
    border: #aaa 1px solid;
    background-color: #eee;
    border-radius: 1em;
}

.io-board img {
    width: 100%;
    height: auto;
}

.sensor-card {
    margin: 1em;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 0.1em 5% 0.1em 5%;
    font-size: 0.9em !important;
    border: #aaa 1px solid;
    list-style-type: none;
}

.sensor-card > li {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.sensor-card > .type {
    color: purple;
    font-size: 2em;
    font-weight: bold;
}

.sensor-card > .port {
    color: #555;
    font-size: 1em;
}

.sensor-card > .name {
    color: #555;
    font-size: 1em;
}

.sensor-card > .manufacturer {
    color: #555;
    font-size: 1em;
}

.sensor-card > .serial-number {
    color: #555;
    font-size: 1em;
}

.sensor-card > li > .s-header {
    font-size: 0.8em;
    float: right;
    color: #aaaaaa;
}

.sensor-cards {
    border: #aaa 1px solid;
    border-radius: 0.5em;
    background-color: #dfdfdf;
    box-shadow: 0 2px 0 0 rgb(34 36 38 / 12%),
    -1px -1px 6px 2px rgb(34 36 38 / 15%);
}

.sensor-card > .reading {
    margin: 0;
    padding: 0;
}

.sensor-card > .reading .reading-value {
    border-radius: 0.3em;
    border: #aaa 1px solid;
    margin-right: 1em;
    margin-bottom: 0.5em;
    padding: 0.3em;
    background-color: cornsilk;
    color: black;
    font-size: 1.3em;
}

.sensor-card > .reading .reading-value > .reading-header {
    font-size: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: #666;
    vertical-align: super;
}


.connected-failure {
    border-radius: 0.5em;
    margin: 0.4em 0.2em 0.2em 0em;
    padding: 0.2em 0.5em 0.1em 0.5em;
    font-size: 1.5em;
    border: #ddd 1px solid;
    color: #fff;
    background-color: #777;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.connected-failure > .proto {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.connected-success {
    border-radius: 0.5em;
    margin: 0.4em 0.2em 0.2em 0em;
    padding: 0.2em 0.5em 0.1em 0.5em;
    font-size: 1.2em;
    border: #ddd 1px solid;
    background-color: cornsilk;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.connected-success > .proto {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.connected-success > .status {
    font-family: monospace;
    font-size: 0.8em;
    width: 100%;
}

.crontab > textarea {
    width: calc(100% - 2em);
    height: 30vh;
    font-size: 1.2em;
    font-family: monospace;
    padding: 1em;
    text-align: left;
    border: 1px solid #333;
    resize: none;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 0 0 rgb(34 36 38 / 12%),
    -1px -1px 6px 2px rgb(34 36 38 / 15%);
    border-radius: 0.5em;
}

.help-section {
    font-size: 1.2em;
    font-family: serif;
    padding: 1em;
    border: 1px solid #333;
    background-color: #F7F7D9;
    color: #000;
    box-shadow: 0 2px 0 0 rgb(34 36 38 / 12%),
    -1px -1px 6px 2px rgb(34 36 38 / 15%);
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.field.textarea {
    width: 100%;
}

.home-network-status {
    list-style: none;
    padding: 0;
}

.home-network-status li {
    margin-bottom: 0.7em;
}

.home-network-status li .padded {
    padding-left: 1em;
}

.home-network-status li h5 {
    color: #777;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    display: inline;
}

.home-network-status li .space {
    padding-left: 2em;
    white-space: pre;
}