
menu "Can5 Sensor"

    config CAN5_SENSOR_BUILD_TESTS
        bool "Build sensor Tests"
        help
            Select this to build tests for sensor component.
            
            IMPORTANT: for this to have effect, CONFIG_LOG_DEFAULT_LEVEL must be  > 0.
            
endmenu

