menu "Can5 HAL"

    config CAN5_HAL_BUILD_TESTS
        bool "Build hal Tests"
        help
            Select this to build tests for hal component.
            
            IMPORTANT: for this to have effect, CONFIG_LOG_DEFAULT_LEVEL must be > 0.
            
endmenu
 