
menu "Can5 Storage"

    config CAN5_STORAGE_BUILD_TESTS
        bool "Build storage Tests"
        help
            Select this to build tests for storage component.
            
            IMPORTANT: for this to have effect, CONFIG_LOG_DEFAULT_LEVEL must be  > 0.
            
endmenu

